# GITIGNORE

autom4te.cache/
aclocal.m4
compile
config.log
config.status
configure
configure~
depcomp
install-sh
Makefile
Makefile.in
missing

src/.deps/
src/colormyday
src/*.o
src/Makefile
src/Makefile.in
src/vgcore*
src/valgrind_out.txt*

